#edit-ufajax-button {
  display: none;
}
.ufajax-message {
  color: #FF0000;
  font-weight: normal;
  display:none;
}
.ufajax-message-progress {
  color: #3E4A54;
  font-weight: bold;
}
.ufajax-message-accepted {
  color: #417C12;
}
.ufajax-message-rejected {
  color: #FF0000;
}
#ufajax-informer {
  width: 16px;  
  position: absolute;
  display: none;
}
.ufajax-informer {
  background: url(images/throbber.gif) no-repeat center 3px;  
}
.ufajax-informer-accepted {
  background: url(images/accepted.png) no-repeat left center; 
}
.ufajax-informer-rejected {
  background: url(images/rejected.png) no-repeat left center; 
}
.ufajax-informer-progress {	
  background: url(images/throbber.gif) no-repeat center -17px;  
}
